@charset " utf-8 ";

#back{
	background-color:black ;
	  width:100%;
				display:flex;
				align-items: center;


}
#imageMenu{
	width:100%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	align-content:center;
	margin-left: 43%;

}

#boutonMenu {
width: 150%;
margin-left: 55%;
}
#back1{
	width: 100%;
		flex-direction: column;
		margin-right: 0%;
}
